*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	font-size: 96%;

	@include big-desktop {
		font-size: 92.25%;
	}

	@include tablet {
		font-size: 82%;
	}

	@include mobile {
		font-size: 80%;
	}

	@include mini-mobile {
		font-size: 61%;
	}
}
