*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	font-size: 95%;

	@include big-desktop {
		font-size: 91.25%;
	}

	@include tablet {
		font-size: 81%;
	}

	@include mobile {
		font-size: 75%;
	}

	@include mini-mobile {
		font-size: 58%;
	}
}
