.container {
	position: relative;
	padding: 0 $container-padding;
	max-width: $container-width;
	margin: 0 auto;
}

.container-modal {
	padding: 0 $modal-padding;
	max-width: $modal-width;
	margin: 0 auto;
}

.container-right {
	padding-left: calc((100% - $container-width) / 2 + $container-padding);

	@include tablet {
		padding-left: $container-padding;
	}
}

.container-left {
	padding-right: calc((100% - $container-width) / 2 + $container-padding);

	@include tablet {
		padding-right: $container-padding;
	}
}
