body {
	font-family: "Inter", sans-serif;
	font-style: normal;
	font-weight: 400;
	line-height: 120% !important;
}

$font-size-paragraph: 1.35rem;
$font-size-paragraph-h1: 4.5rem;
$font-size-paragraph-h2: 2.8rem;
$font-size-paragraph-h3: 2rem;
