.section-publicity {
	padding-top: 15rem;
	min-height: 65.3rem;
	margin-bottom: 15rem;
	background: url("../img/main/background-header.png") center / cover no-repeat;

	@include tablet {
		margin-bottom: 15rem;
	}

	@include mobile {
		margin-bottom: 2 0rem;
	}
}

.section-training {
	padding-top: 5rem;
	min-height: 63rem;
	margin-bottom: 15rem;
	@include tablet {
		margin-bottom: 13rem;
	}

	@include mobile {
		margin-bottom: 20rem;
	}
}

.btn_open-modal {
	margin-bottom: 5rem;
}
