<div id="mobileNavOverlay" class="mobile-nav-overlay"></div>

<div id="modalOpen" class="menu-icon">
	<input id="yourCheckboxId" class="menu-icon__cheeckbox" type="checkbox" />
	<div>
		<span></span>
		<span></span>
	</div>
</div>

<div class="mobile-nav" id="mobileNav">
	<ul class="mobile-nav__list">
		<li><a href="#publicity" class="active">Главная</a></li>
		<li><a href="#training">Что даст обучение</a></li>
	</ul>

	<a href="#!" class="mobile-nav__button button-enter">Личный кабинет</a>

	<button></button>
</div>
