.section-publicity {
	&__container {
		flex-wrap: wrap;
		@include tablet {
			justify-content: center;
			margin: 0 auto;
			align-items: center;
			text-align: center;
		}
	}

	&__content {
		position: relative;
		z-index: 10;
	}

	&__title {
		color: $color-white;
		font-size: $font-size-paragraph-h1;
		line-height: 105%;
		letter-spacing: -2.16px;
		max-width: 44.8rem;
		@include mobile {
			letter-spacing: -0.75px;
			font-size: 2.5rem;
		}
	}

	&__text {
		color: $color-header;
		font-size: $font-size-paragraph;
		font-style: normal;
		margin-bottom: 4rem;
		line-height: 120%;
		@include mobile {
			font-size: 2rem;
		}
	}

	&__text-highlight {
		font-weight: 700;
	}

	&__background {
		display: none;
		@include tablet {
			display: block;
			position: absolute;
			left: 8rem;
			z-index: -1;
			width: 29rem;
		}
		@include mobile {
			display: none;
		}
		@include mini-mobile {
			display: none;
		}
	}

	&__composition {
		position: absolute;
		top: -20%;
		left: 40%;
		@include tablet {
			display: none;
		}

		&-main {
			display: none;
			@include tablet {
				display: block;
			}
		}
	}
}
