.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 5rem 3rem;
	border-radius: 30px;
	background: $color-background-modal;
	max-width: 42rem;
	width: 95%;
	padding-top: 4rem;
	border: 0;
	box-shadow: $modal-shadow;
	animation: fadeIn 1s ease both;
	&::backdrop {
		animation: fadeIn 1s ease both;
		background: $color-backdrop;
		backdrop-filter: blur(7.5px);
		z-index: 2;
	}

	&__title {
		color: $color-white;
		font-size: $font-size-paragraph-h2;
		font-weight: 700;
		line-height: 105%;
		letter-spacing: -0.08rem;
		@include mobile {
			font-size: 1.4rem;
			text-align: start;
		}
	}

	&__text {
		color: $color-white;
		font-size: $font-size-paragraph;
		@include mobile {
			font-size: 1rem;
			text-align: start;
		}
	}

	&__input {
		display: flex;
		width: 471px;
		padding: 1rem 16rem 1rem 1rem;
		align-items: center;
		gap: 10px;
		border-radius: 10px;
		background: $color-white;
		color: $color-input;
		font-size: 18px;
		width: 100%;
	}

	&__background {
		position: absolute;
		top: 0;
		left: 22rem;
		z-index: -1;
		width: 26rem;
		@include mobile {
			display: none;
		}
	}

	&__icon {
		margin-right: 1rem;
		padding: 1rem;
		border-radius: 1rem;
	}

	&__x {
		background-color: transparent;
		border: none;
		cursor: pointer;
		position: absolute;
		top: 10px;
		right: 10px;
		fill: $color-white;
	}

	&__button {
		width: 100%;
	}
}
