/* Additions */
/* stylelint-disable */
/* Base */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 100%;
}
@media (max-width: 1440px) {
  html {
    font-size: 96.25%;
  }
}
@media (max-width: 1173px) {
  html {
    font-size: 90%;
  }
}
@media (max-width: 595px) {
  html {
    font-size: 80%;
  }
}
@media (max-width: 375px) {
  html {
    font-size: 70%;
  }
}

/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
  width: 100%;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.flex {
  display: flex;
}

.flex-v-center {
  display: flex;
  align-items: center;
}

.flex-h-center {
  display: flex;
  justify-content: center;
}

.flex-all-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-all-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.container {
  position: relative;
  padding: 0 1rem;
  max-width: 80rem;
  margin: 0 auto;
}

.container-modal {
  padding: 0 0.5rem;
  max-width: 29rem;
  margin: 0 auto;
}

.container-right {
  /* overflow-x: hidden; */
  padding-left: calc((100% - 80rem) / 2 + 1rem);
}
@media (max-width: 1173px) {
  .container-right {
    padding-left: 1rem;
  }
}

.container-left {
  /* overflow-x: hidden; */
  padding-right: calc((100% - 80rem) / 2 + 1rem);
}
@media (max-width: 1173px) {
  .container-left {
    padding-right: 1rem;
  }
}

.text-align-center {
  text-align: center;
}

.margin-bottom-10px {
  margin-bottom: 1rem;
}

.margin-bottom-30px {
  margin-bottom: 3rem;
}

.margin-bottom-20px {
  margin-bottom: 2rem;
}

.margin-top-30px {
  margin-top: 3rem;
}

.margin-bottom-50px {
  margin-bottom: 5rem;
}
@media (max-width: 1173px) {
  .margin-bottom-50px {
    margin-bottom: 7rem;
  }
}

.margin-bottom-80px {
  margin-bottom: 8rem;
}
@media (max-width: 1173px) {
  .margin-bottom-80px {
    margin-bottom: 5rem;
  }
}

@keyframes BtnToUp {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes leftToRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes RightToLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes jump {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}
/* Blocks */
.section-publicity__container {
  flex-wrap: wrap;
}
@media (max-width: 1173px) {
  .section-publicity__container {
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    text-align: center;
  }
}
.section-publicity__content {
  position: relative;
  z-index: 10;
}
.section-publicity__ellipse {
  position: absolute;
  width: 5rem;
  top: -2rem;
  left: 31rem;
}
@media (max-width: 1173px) {
  .section-publicity__ellipse {
    display: none;
  }
}
.section-publicity__title {
  color: #ffffff;
  font-size: 4.5rem;
  line-height: 105%;
  letter-spacing: -2.16px;
  max-width: 44.8rem;
}
@media (max-width: 595px) {
  .section-publicity__title {
    font-size: 3rem;
  }
}
.section-publicity__text {
  color: #cecece;
  font-size: 1.3rem;
  font-style: normal;
  margin-bottom: 4rem;
}
.section-publicity__text-highlight {
  font-weight: 700;
}
.section-publicity__background {
  display: none;
}
@media (max-width: 1173px) {
  .section-publicity__background {
    display: block;
    position: absolute;
    left: 8rem;
    z-index: -1;
    width: 29rem;
  }
}
@media (max-width: 595px) {
  .section-publicity__background {
    display: none;
  }
}
@media (max-width: 375px) {
  .section-publicity__background {
    display: none;
  }
}
.section-publicity__composition {
  position: absolute;
  top: -20%;
  left: 40%;
}
@media (max-width: 1173px) {
  .section-publicity__composition {
    display: none;
  }
}
.section-publicity__composition-main {
  display: none;
}
@media (max-width: 1173px) {
  .section-publicity__composition-main {
    display: block;
  }
}

.section-training__container {
  position: relative;
  padding-top: 5rem;
  border-radius: 1.25rem;
  background: url("../img/main/background-header.png") center/cover no-repeat;
}
.section-training__content {
  position: relative;
  z-index: 1;
  max-width: 40.6rem;
  padding-bottom: 8rem;
}
@media (max-width: 595px) {
  .section-training__content {
    max-width: 20.6rem;
  }
}
.section-training__title {
  max-width: 35rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  color: #ffffff;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 130%;
}
.section-training__purple {
  position: absolute;
  width: 11.8%;
  left: 82%;
  top: -8%;
}
@media (max-width: 595px) {
  .section-training__purple {
    top: 0;
  }
}
.section-training__blue {
  position: absolute;
  width: 7.7%;
  left: 9%;
  top: 11%;
}
.section-training__muddy {
  position: absolute;
  width: 10.7%;
  left: 83%;
  top: 80%;
}
@media (max-width: 595px) {
  .section-training__muddy {
    top: 95%;
  }
}
.section-training__top {
  position: absolute;
  width: 31.2%;
  left: 68%;
  top: 1%;
  z-index: 1;
}
.section-training__bottom {
  position: absolute;
  width: 31.2%;
  top: 59%;
  left: 1%;
}
@media (max-width: 1173px) {
  .section-training__bottom {
    display: none;
  }
}

.grid-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.7rem, 1fr));
  gap: 3rem;
  justify-items: center;
  align-items: center;
  transition: grid-template-columns 0.3s;
  margin: 0 auto;
}

/* Components */
.btn, .btn:link, .btn:visited {
  border-radius: 1.25rem;
  box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(93deg, #1dd844 1.44%, #cbf62e 126.29%);
  transition: all 0.2s;
  display: inline-flex;
  padding: 1.25rem 1.85rem;
  justify-content: center;
  align-items: center;
  gap: 0.65rem;
  position: relative;
  font-size: 1.25rem;
  border: none;
  color: #1d2532;
  text-align: center;
  font-family: "GT Walsheim Pro";
  font-style: normal;
  font-weight: 500;
  animation: BtnToUp 0.4s ease-out 0.7s;
  animation-fill-mode: backwards;
  line-height: 130%;
}
@media (max-width: 1173px) {
  .btn, .btn:link, .btn:visited {
    font-size: 1.8rem;
    padding: 1.5rem 3.7rem;
  }
}
@media (max-width: 595px) {
  .btn, .btn:link, .btn:visited {
    padding: 2rem 5rem;
    font-size: 1.2rem;
  }
}
.btn:hover {
  transform: translateY(-0.1rem);
}
.btn:hover::after {
  transform: scaleX(1) scaleY(1);
}
.btn:active {
  transform: translateY(-0.3rem);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.35) inset;
}
.btn::after {
  content: "";
  background: linear-gradient(93deg, #1dd844 1.44%, #cbf62e 126.29%);
  filter: blur(19.5px);
  width: 100%;
  height: 100%;
  border-radius: 5rem;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.2s;
}

.btn__disabled, .btn__disabled:link, .btn__disabled:visited {
  border-radius: 1.25rem;
  box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(93deg, #1dd844 1.44%, #cbf62e 126.29%);
  display: inline-flex;
  padding: 1.25rem 1.85rem;
  justify-content: center;
  align-items: center;
  gap: 0.65rem;
  font-size: 1.25rem;
  border: none;
  color: rgba(36, 36, 36, 0.5);
  text-align: center;
  font-family: "GT Walsheim Pro";
  font-style: normal;
  font-weight: 500;
}

.btn-modal, .btn-modal:link, .btn-modal:visited {
  border-radius: 1.25rem;
  box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(93deg, #1dd844 1.44%, #cbf62e 126.29%);
  transition: all 0.2s;
  display: inline-flex;
  padding: 1.25rem 1.85rem;
  justify-content: center;
  align-items: center;
  gap: 0.65rem;
  position: relative;
  font-size: 1.25rem;
  border: none;
  color: #1d2532;
  text-align: center;
  font-family: "GT Walsheim Pro";
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}
@media (max-width: 1173px) {
  .btn-modal, .btn-modal:link, .btn-modal:visited {
    font-size: 1.8rem;
    padding: 1.5rem 3.7rem;
  }
}
@media (max-width: 595px) {
  .btn-modal, .btn-modal:link, .btn-modal:visited {
    padding: 2rem 5rem;
  }
}
.btn-modal:hover {
  transform: translateY(-0.1rem);
}
.btn-modal:hover::after {
  transform: scaleX(1) scaleY(1);
}
.btn-modal:active {
  transform: translateY(-0.3rem);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.35) inset;
}
.btn-modal::after {
  content: "";
  background: linear-gradient(93deg, #1dd844 1.44%, #cbf62e 126.29%);
  filter: blur(19.5px);
  width: 100%;
  height: 100%;
  border-radius: 5rem;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.2s;
}

.btn-text:link, .btn-text:visited {
  display: inline-flex;
  padding: 1rem 1.37rem;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  border-radius: 1rem;
  border: 0.08rem solid #fff;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
}
.btn-text:hover {
  border-radius: 1rem;
  border: 0.08rem solid #c3f33b;
  box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.25);
  transform: translateY(-0.2rem);
  color: #c3f33b;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.btn-text:active {
  border-radius: 1rem;
  border: 0.08rem solid #c3f33b;
  background: rgba(224, 255, 172, 0.05);
  backdrop-filter: blur(7.5px);
  transform: translateY(0);
  color: #c3f33b;
  font-size: 1rem;
  font-weight: 500;
}

.btn-text__disable {
  display: inline-flex;
  padding: 1rem 1.3rem;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  border-radius: 1rem;
  border: 0.08rem solid #fff;
  color: rgba(36, 36, 36, 0.5);
  font-size: 1rem;
  font-weight: 500;
}

.training-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
}
.training-card__emoji {
  max-width: 7rem;
  width: 100%;
}
.training-card__text {
  max-width: 16rem;
  color: #ffffff;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: -0.7px;
}
.training-card, .training-card::before, .training-card::after {
  max-width: 18.7rem;
  width: 100%;
  height: 19.3rem;
  flex-shrink: 0;
  padding: 1.8rem 1.5rem 4.3rem 1.5rem;
  border-radius: 1.2rem;
  background: rgba(51, 62, 81, 0.7);
  backdrop-filter: blur(30.5px);
  position: relative;
}
.training-card::before, .training-card::after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.4s;
}
.training-card::before {
  max-width: 16.2rem;
  width: 100%;
  height: 16.7rem;
  flex-shrink: 0;
  top: 4rem;
  left: 1rem;
}
.training-card::after {
  top: 0;
  left: 0;
}

/* Layout */
.header {
  position: absolute;
  padding: 1.8rem 0 0;
  left: 0;
  top: 0;
  z-index: 20;
  width: 100%;
}
.header__ellipse {
  position: absolute;
  z-index: -999;
  width: 45rem;
  top: 0;
  left: 0;
}

@media (max-width: 1173px) {
  .logotype__link {
    position: absolute;
    z-index: 250;
    top: 0;
    left: 2rem;
  }
}

.nav__buttons {
  margin-left: auto;
}
@media (max-width: 1173px) {
  .nav__buttons {
    display: none;
  }
}
.nav__list {
  gap: 6.5rem;
  margin-right: 9.3rem;
  align-items: center;
}
.nav__link {
  color: #cecece;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 120%; /* 27.6px */
}

.navigation {
  display: none;
}

@media (max-width: 1173px) {
  .navigation {
    display: block;
  }
  .navigation__toggle {
    display: none;
  }
  .navigation__button {
    height: 3rem;
    width: 3rem;
    position: fixed;
    top: 2.5rem;
    right: 2rem;
    z-index: 200;
    text-align: center;
    cursor: pointer;
  }
  .navigation__background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: RGBA(48, 9, 97, 0.3);
    backdrop-filter: blur(7.5px);
    z-index: 1;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;
  }
  .navigation__toggle:checked ~ .navigation__background {
    opacity: 1;
    pointer-events: auto;
  }
  .navigation__nav {
    min-height: 33rem;
    position: fixed;
    border-radius: 0px 0px 0px 30px;
    background: #293344;
    top: 0;
    right: 0;
    z-index: 150;
    opacity: 0;
    width: 0;
    transition: all 0.3s;
  }
  .navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    width: 95%;
    padding: 2rem;
  }
  .navigation__item {
    text-align: start;
  }
  .navigation__item:not(:last-child) {
    margin-bottom: 3rem;
  }
  .navigation__link:link, .navigation__link:visited {
    font-size: 1.3rem;
    color: #cecece;
    text-decoration: none;
  }
  .navigation__toggle:checked ~ .navigation__nav {
    width: 98%;
    opacity: 1;
  }
  .navigation__icon {
    position: relative;
    margin-top: 4rem;
  }
  .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 0.3rem;
    background: #ffffff;
    display: inline-block;
  }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s;
  }
  .navigation__icon::before {
    top: 1rem;
    left: -1.5rem;
  }
  .navigation__icon::after {
    top: 1.8rem;
    left: -1.5rem;
  }
  .navigation__toggle:checked + .navigation__button .navigation__icon {
    background: transparent;
  }
  .navigation__toggle:checked + .navigation__button .navigation__icon::before {
    top: 1rem;
    transform: rotate(135deg);
  }
  .navigation__toggle:checked + .navigation__button .navigation__icon::after {
    top: 1rem;
    transform: rotate(-135deg);
  }
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5rem 3rem;
  border-radius: 30px;
  background: radial-gradient(207.54% 112.44% at 15.58% -40.39%, #323e51 0%, #1d2532 100%);
  max-width: 42rem;
  width: 95%;
  padding-top: 4rem;
  border: 0;
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease both;
}
.modal::backdrop {
  animation: fadeIn 1s ease both;
  background: rgba(48, 9, 97, 0.3);
  backdrop-filter: blur(7.5px);
  z-index: 2;
}
.modal__title {
  color: #ffffff;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 105%;
  letter-spacing: -0.08rem;
}
@media (max-width: 595px) {
  .modal__title {
    font-size: 1.4rem;
    text-align: start;
  }
}
.modal__text {
  color: #ffffff;
  font-size: 1.3rem;
}
@media (max-width: 595px) {
  .modal__text {
    font-size: 1rem;
    text-align: start;
  }
}
.modal__input {
  display: flex;
  width: 471px;
  padding: 1rem 16rem 1rem 1rem;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #ffffff;
  color: #757575;
  font-size: 18px;
  width: 100%;
}
.modal__background {
  position: absolute;
  top: 0;
  left: 22rem;
  z-index: -1;
  width: 26rem;
}
@media (max-width: 595px) {
  .modal__background {
    display: none;
  }
}
.modal__icon {
  margin-right: 1rem;
  padding: 1rem;
  border-radius: 1rem;
}
.modal__x {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  fill: #ffffff;
}
.modal__button {
  width: 100%;
}

/* Pages */
.section-publicity {
  padding-top: 18rem;
  min-height: 64.3rem;
  margin-bottom: 12rem;
  background: url("../img/main/background-header.png") center/cover no-repeat;
}
@media (max-width: 1173px) {
  .section-publicity {
    margin-bottom: 13rem;
  }
}
@media (max-width: 595px) {
  .section-publicity {
    margin-bottom: 2 0rem;
  }
}

.section-training {
  padding-top: 5rem;
  min-height: 63rem;
  margin-bottom: 15rem;
}
@media (max-width: 1173px) {
  .section-training {
    margin-bottom: 13rem;
  }
}
@media (max-width: 595px) {
  .section-training {
    margin-bottom: 20rem;
  }
}/*# sourceMappingURL=style.css.map */